body {
	background: url(images/background.png);
}

.App {
	text-align: center;
}

.background {
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
}

.signup {
	margin-top: 50px;
	color: white;
}

.login {
	padding: 10px;
	margin-top: 50px;
	color: white;
}

.shop-now {
	position: fixed;
	top: 100px;
	right: 100px;
	letter-spacing: 3px;
}

.about {
	margin-top: 50px;
	color: white;
}

.about h1 {
	font-size: 60px;
	display: flex;
	justify-content: center;
	color: aqua;
}
