@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

body {
  background: url(images/background.png);
}

.App {
  text-align: center;
}

.background {
  width: 100%;
  overflow: hidden;
}

.signup {
  margin-top: 50px;
  color: white;
}

.login {
  padding: 10px;
  margin-top: 50px;
  color: white;
}

.shop-now {
  position: absolute;
  top: 100px;
  right: 100px;
  letter-spacing: 3px;
}

.about {
  margin-top: 50px;
  color: white;
}

.about h1 {
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: aqua;
}

.Environment {
  color: white;
  font-size: 25px;
  font-family: "Libre Baskerville", serif;
  display: flex;
  justify-content: flex-start;
}

.home-page {
  margin-top: 50px;
}

.threeway {
  display: flex;
  justify-content: center;
}

.white {
  color: white;
}
.good:hover {
  border: 7px solid yellow;
}
.best:hover {
  border: 7px solid green;
}
.bad:hover {
  border: 7px solid orange;
}
.worst:hover {
  border: 7px solid orange;
}

.rating-system {
  color: black;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.color-card {
  background-color: rgb(255, 88, 28) !important;
}
